<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/shopping-cart">Your Cart</a>
</p>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Add to Cart</th>
    </tr>
    </thead>
    <tr th:each="product :${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td><a th:href="@{/add/__${product.id}__(action='list')}">Add to Cart</a></td>
    </tr>
</table>
</body>
</html>